@use "global" as *;

.p-header {
    background: rgba(240, 230, 140, 1);
}

.p-container {
    background: rgba(255, 127, 80, 1);
}

.p-footer {
    background: rgba(102, 205, 170, 1);
}

.p-main {
    background: rgba(176, 196, 222, 1);
}

.p-sidebar {
    background: rgba(255, 192, 203, 1);
}